<div class="container">
  <h1>{{ title }}</h1>

  <nav>
    <ul class="nav-list">
      <li><a routerLink="/url-demo" (click)="logNavigation('URL Parameters')">URL Parameters</a></li>
      <li><a routerLink="/browser-storage" (click)="logNavigation('Browser Storage')">Browser Storage</a></li>
      <li><a routerLink="/shared-service" (click)="logNavigation('Shared Component Service')">Shared Component Service</a></li>
      <li><a routerLink="/custom-events" (click)="logNavigation('Custom Events')">Custom Events</a></li>
      <li><a routerLink="/state-management" (click)="logNavigation('State Management Library')">State Management Library</a></li>
      <li><a routerLink="/backend-api" (click)="logNavigation('Back End API')">Back End API</a></li>
      <li><a routerLink="/cookie-demo-host" (click)="logNavigation('Cookies')">Cookies</a></li>
      <li><a routerLink="/session2/module-federation-demo" (click)="logNavigation('Module Federation')">Module Federation</a></li>
    </ul>
  </nav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
